@font-face {
    font-family: 'Font';
    src: url('Ressources/LemonMilklight.otf') format('truetype');
}

body
{
    background-color: #312D22;
    font-family: 'Font', Arial, Calibri;
}

.banniere
{
    background-color: #3D3C37;
    box-shadow: 0px 4px 11px #393831;
    background-position: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    height: 35px;
}

.banniere p
{
    margin: 0px;
    font-size: 36px;
    text-align: center;
}

p
{
    color: #E7E6E2;
    text-shadow: 2px 2px 5px #646257;
}

.liste p /* Paragraphe dans la liste */
{
    margin: 10px 18px 0px 18px;
    font-size: 20px;
}

.conn, .insc /* Liste des programmes, formulaire de connexion et d'inscription */
{
    height: auto;
    width: auto;
    margin: 90px 20px 45px 20px;
    border-radius: 5px;
    background-color: #3D3C37;
    box-shadow: 5px 4px 11px #393831;
}

.liste
{
    height: auto;
    width: auto;
    margin: 90px 10px 45px 10px;
    border-radius: 5px;
    background-color: #3D3C37;
    box-shadow: 5px 4px 11px #393831;
}	

.logo /* Logo du site */
{
    height: 38px;
    width: 38px;
    float: left;
}

.creation /* Zone de création (vide) */
{
    height: 20em;
    width: auto;
    margin: 45px 20px 45px 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #3D3C37;
    box-shadow: 5px 4px 11px #393831;
}

.user /* Logo utilisateur */
{
    height: 38px;
    width: 38px;
    float: right;
}

.menu /* Menu utilisteur (droite) */
{
    background-color: #3D3C37;
    width: 185px;
    position: fixed;
    border-radius: 0px 0px 0px 6px;
    right: 0px;
    top: 55px;
    box-shadow: -5px 4px 11px #393831;
}

.deconnexion /* Bouton deconnexion */
{
    font-size: 27px;
    border-top: 1px #302D22 solid;
    border-bottom: 1px #302D22 solid;
    text-align: center;
    border-radius: 0px 0px 0px 6px;
}

.connexion /* Bouton connexion */
{
    font-size: 27px;
    border-top: 1px #302D22 solid;
    border-bottom: 1px #302D22 solid;
    text-align: center;
}

.connexion:hover, .deconnexion:hover, .inscription:hover /* Souris au dessus du bouton connexion, deconnexion et inscripton */
{
    background-color: #302D22;
}

.inscription /* Bouton inscription */
{
    font-size: 27px;
    border-top: 2px #302D22 solid;
    border-bottom: 1px #302D22 solid;
    text-align: center;
}

.conn, .insc /* Formulaire de connexion et d'inscription */
{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.validation /* Validation de l'inscription */
{
    height: auto;
    width: auto;
    margin: 90px 20px 45px 20px;
    border-radius: 5px;
    background-color: #3D3C37;
    box-shadow: 5px 4px 11px #393831;
    padding: 10px;
    font-size: 20px;
}

.validationconn /* Validation de la connexion */
{
    height: auto;
    width: auto;
    margin: 90px 20px 45px 20px;
    border-radius: 5px;
    background-color: #3D3C37;
    box-shadow: 5px 4px 11px #393831;
    padding: 10px;
    font-size: 20px;
}

#listeprog
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.programme
{
    padding: 10px 19px 20px 18px;
    height: 7em;
    width: 14em;
}

.nouveau
{
    padding: 45px 113px 45px 98px;
}

.video
{
    padding: 20px 20px 20px 20px;
    height: auto;
    width: 800px;
    margin: 90px 20px 45px 200px;
    border-radius: 5px;
    background-color: #3D3C37;
    box-shadow: 5px 4px 11px #393831;
}

.pied
{
    text-align: center;
    height: auto;
    width: auto;
    margin: 35px 20px 35px 20px;
    border-radius: 5px;
    background-color: #3D3C37;
    box-shadow: 5px 4px 11px #393831;
}

.creerProgramme
{
    padding: 20px 20px 20px 20px;
    height: auto;
    width: auto;
    margin: 90px 20px 45px 20px;
    border-radius: 5px;
    background-color: #3D3C37;
    box-shadow: 5px 4px 11px #393831;
    text-align: center;
}

.nouv
{
    height: 50px;
    width: 50px;
}

.prg
{
    border-radius: 1.5px 1.5px 1.5px 1.5px;
}